"""Application entry point."""

from pyfly.core import pyfly_application


@pyfly_application(
    name="{{ name }}",
{% if archetype == "hexagonal" %}
    scan_packages=[
        "{{ package_name }}.api",
        "{{ package_name }}.application",
        "{{ package_name }}.infrastructure",
    ],
{% elif archetype in ("web-api", "web") %}
    scan_packages=[
        "{{ package_name }}.controllers",
        "{{ package_name }}.services",
{% if archetype == "web-api" %}
        "{{ package_name }}.repositories",
{% endif %}
    ],
{% elif archetype == "cli" %}
    scan_packages=[
        "{{ package_name }}.commands",
        "{{ package_name }}.services",
    ],
{% else %}
    scan_packages=["{{ package_name }}"],
{% endif %}
)
class Application:
    pass
